<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detalle2.css">
    <title>Tu Página</title>
</head>
<body>
    <div class="contenedor-principal">
        <div class="seccion">

        </div>
        <div class="seccion">
            <div class="producto">
                <div class="imagen-producto">
                    <img src="prueba.jpg" alt="Descripción de la imagen">
                    <div class="precio">Precio: $100</div>
                    <div class="descuento">Descuento: 10%</div>
                </div>
                <div class="descripcion-producto">
                    <h2>Nombre del Producto</h2>
                    <div class="texto-descripcion">
                        Aquí puedes escribir la descripción del producto.
                    </div>
                </div>
                
            </div>

            <div class="opciones">
                <div class="cantidad">
                    Cantidad: <input type="number" value="1">
                </div>
                <button>Agregar al carrito</button>
            </div>

        </div>
        <div class="seccion">
            <h2 class="titulo-relacionados">Productos Relacionados</h2>
    
            <div class="productos-relacionados">
                <div class="producto-relacionado">
                    <img src="prueba.jpg" alt="Descripción de la imagen 1">
                    <p class="nombre-producto">Nombre Producto 1</p>
                    <p class="precio-producto">$100.00</p>
                </div>
                <div class="producto-relacionado">
                    <img src="prueba.jpg" alt="Descripción de la imagen 2">
                    <p class="nombre-producto">Nombre Producto 2</p>
                    <p class="precio-producto">$200.00</p>
                </div>
                <div class="producto-relacionado">
                    <img src="prueba.jpg" alt="Descripción de la imagen 3">
                    <p class="nombre-producto">Nombre Producto 3</p>
                    <p class="precio-producto">$300.00</p>
                </div>
            </div>
        </div>
        <div class="seccion"></div>
    </div>
</body>
</html>
