<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>
  <body>
    <div class="titulo-principal">
      <h1>SAN RAFAEL</h1>
    </div>
    <link rel="stylesheet" href="/css/index.css"/>
    <%- include('./partials/header') %>
    <main>
      <div class="contenedor-carrusel">
        <img src="/images/ejemplo1.jpg" alt="producto" class="imagen-carrusel"/>
        <img src="/images/ejemplo2.jpg" alt="producto" class="imagen-carrusel"/>
        <img src="/images/ejemplo3.jpg" alt="producto" class="imagen-carrusel"/>
      </div>
      <section>
        <article class="main-informacion">
          <h2>¿Quienes somos?</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste
            doloremque, modi dolorum exercitationem harum est mollitia voluptatum
            laboriosam. Ducimus inventore dignissimos numquam tempora ut beatae
            sapiente tenetur dolorum corrupti quaerat!</p>
        </article>
        <article class="main-imagenes">
            <!--<img src="/images/logo-sin-fondo.png" alt=""/>-->
        </article>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
