<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>
  <link rel="stylesheet" href="/css/register.css"/>
  <title>Registro de Usuario</title>
<body>
  <header>
    <!-- <img src="/images/logo-sin-fondo.png" alt="" class="logo-prin"> -->
    
  </header>
  <div class="registro">
  <h1>Registro de Usuario</h1>
</div>
  <form action="/" method="POST"> <!-- Reemplaza "index.html" con la página principal -->
    <label for="nombre"></label>
    <input type="text" id="nombre" name="nombre" placeholder="Nombre" required></br>
    <label for="apellido"></label></form><br>
    <input type="text" id="apellido" name="apellido" placeholder="Apellido" required></br>

    <label for="correo"></label><br>
    <input type="text" id="correo"name="correo"placeholder="Correo electronico" required><br>

    <label for="domicilio"></label></br>
    <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio" required></br>

    <label for="password"></label></br>
    <input type="password" id="password" name="password" placeholder="Contraseña" required></br>
    <label for="confirm_password"></label></br> 
    <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirmar contraseña" required></br>

    <button type="submit" id="crear">Crear cuenta</button>
    <button type="button" id="volver">Volver</button>
  </form>
</body>
</html>