<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--IMPORT DE ARCHIVO CSS-->
    <link rel="stylesheet" href="/css/shopping-cart.css"/>
    <!--IMPORT DE ICONOS (FONT AWESOME)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Mi carrito de compras</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="tabla-principal">
            <h1>Mi carrito</h1>
            <table>
                <tr>
                    <th class="tabla-item-titulo">ITEM</th>
                    <th class="tabla-detalle-titulo">DETALLES</th>
                    <th class="tabla-precio-titulo">PRECIO</th>
                </tr>
                <tr>
                    <td>Producto 1</td>
                    <td>Detalles 1</td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td>Producto 2</td>
                    <td>Detalles 2</td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td>Producto 3</td>
                    <td>Detalles 3</td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td>Producto 4</td>
                    <td>Detalles 4</td>
                    <td>$100</td>
                </tr>
            </table>
        </div>
        <div class="tabla-resumen">
            <table>
                <tr>
                    <th>RESUMEN DE PEDIDO</th>
                </tr>
                <tr>
                    <td>Subtotal de ítems</td>
                    <td><p>$0</p></td>
                </tr>
                <tr>
                    <td>Envío</td>
                    <td><p>$0</p></td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td><p>$0</p></td>
                </tr>
            </table>
            <button class="boton-comprar">CONTINUAR CON LA COMPRA</button>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>