* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #DDE6F8;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}

.content h1 {
    color:darkcyan;
}

.content button {
    color: rgba(255, 255, 255, 0.884); 
    padding: 5px;
    background-color:rgb(82, 148, 148);
    border: 1px ;
    border-radius: 10px;
    font-size: large;
    width: 20%;
    display: flex;
    justify-content: center;
}

.content a {
    margin-top: 2%;
    color: rgba(255, 255, 255, 0.884); 
    padding: 5px;
    background-color:rgb(82, 148, 148);
    border: 1px;
    border-radius: 10px;
    text-decoration: none;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content button:hover{
    transform: scale(1.1); 
    transition: transform 1s ease, background-color 0.5s ease;
    color: white;
}

.button-options a:hover {
    transform: scale(1.1); 
    background-color:rgb(44, 97, 97); 
    transition: transform 1s ease, background-color 0.5s ease;
    color: white;
}