/** COLORES */

/*
    Barra de navegación/Pie de página: #DAFAFF
    Texto de footer: #EF9AC6
    Fondos: #DDE6F8
*/

/** GLOBAL */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/** FOOTER */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #DAFAFF;
    border-top: 1px black solid;;
}

.contenedor-footer {
    padding-top: 30px;
    padding-bottom: 40px;
}
.contenedor-footer ul a{
    color: #EF8CA1;
    text-decoration: none;
    margin-left: 3px;
}

.contenedor-footer ul p {
    margin-top: 8px;
}

.contenedor-footer .contenedor-redes-sociales {
    display: flex;
}

.boton-footer {
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
    width: 30%;
    padding: 5%;
    border-radius: 10%;
    transition-property: all;
    transition-duration: 300ms;
}

.boton-footer:hover {
    background-color: white;
    color: black;
    border: 1px black solid;
}

#instagram {
    margin-left: 5px;
}

/** HEADER */
header {
    background-color: #DAFAFF;
    border-bottom: 1px black solid;
}

.barra-navegacion {
    display: flex;
    justify-content: space-around;
    align-items:center;
    font-family: poppins;
    color: rgb(108, 151, 151)
}

.logo-contenedor {
    display: flex;
    justify-content: center;
    width: 20%;
}

.logo-principal {
    width: 100px;
    height: 100px;
}

.nav-principal {
    display: flex;
    width: 50%;
    justify-content: space-around;
    text-transform: uppercase;
    border: solid 3px rgb(108, 151, 151) ;
    border-radius: 10px;
    background-color: rgb(177, 211, 211);
    padding: 10px;
}

.nav-principal a {
    color: rgb(44, 97, 97);
    font-weight: 500;
    text-decoration: none;
    font-size: large;
    margin-left: 3px;
    font-size: 18px;
}

.nav-principal p {
    transition-property: all;
    transition-duration: 500ms;
}

.nav-principal p:hover {
    font-size: 22px;
    color: rgb(44, 97, 97);
}

.nav-secundaria {
    display: flex;
    width: 20%;
    justify-content: end;
    text-transform: uppercase;
    color: white;
    /*justify-content: space-around;*/
}

.boton-secundaria {
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.boton-secundaria:hover {
    background-color: royalblue;
}

#boton-secundaria {
    margin-right: 10px;
}

/** INDEX */
main {
    width: 95%;
    margin: auto;
}

section {
    display: flex;
    width: 80%;
    padding: 3%;
    margin: auto;
    justify-content: space-between;
}

body {
    background-color: #DDE6F8;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-family: cursive;
    font-weight: 200;
    background-color: rgb(177, 211, 211);
    border-radius: 5% /90%;
    color: rgb(44, 97, 97);
    padding: 0px;
    width: 55%;
}

h2:hover{
    transform: scale(1.1); 
    background-color:rgb(108, 151, 151);
    transition: transform 1s ease, background-color 1s ease;
    color: white;
}

.main-informacion {
    display: grid;
    border: solid 3px rgb(108, 151, 151);
    border-radius: 10px;
    padding: 5%;
    text-align: justify;
    padding: 28px;
    place-items: center;
    background-color: #DAFAFF;
}    

.main-informacion p {
    margin:10px;
    font-size: 16px;
    font-family: cursive;
    font-weight:0;
    border-radius: 10px;
    padding: 30px;
    background-color: rgb(177, 211, 211);
    color: rgb(44, 97, 97) ;
}

.parrafo:hover{
    transform: scale(1.05); 
    background-color:rgb(108, 151, 151);
    transition: transform 1s ease, background-color 1s ease;
    color: white;
}

/** TITULO */
.titulo-principal {
    /*display: flex;*/
    display: none;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/** IMÁGENES */
/*.imagen-carrusel {
    width: 50vh;
    height: 50vh;
}*/

/** CARRUSEL DE IMÁGENES */
/*.contenedor-carrusel{
    display: flex;
    height: 30rem;
    gap: 1.5rem;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.contenedor-carrusel > img {
    flex: 2;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(0.55, 0.85, 0.68, 1.0);
    width: 10%;
    height: auto;
}
.contenedor-carrusel > img:hover{
    flex: 2.8;
}*/