body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;
    background-color: #DDE6F8;
    flex-direction: column; 
}

.title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #000;  
    margin: 0 20px;
}

.login-container {
    padding: 20px;
    min-width: 300px;  
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    height: 80%;

}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"],
input[type="checkbox"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.input-group label {
    font-size: 1.2rem;  
    margin-bottom: 10px;
}


input[type="email"],
input[type="password"] {
    padding: 15px;
    font-size: 1.2rem; 
    border-radius: 7px;
}


button {
    padding: 15px 20px;
    font-size: 1.2rem; 
}


input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}


label[for="remember-me"] {
    display: flex;
    align-items: center;
}


.login-container {
    padding: 20px;
    min-width: 500px;  
    font-size: 20px;
}


input[type="email"],
input[type="password"] {
    padding: 15px;
    font-size: 1.2rem; 
    border-radius: 7px;
    width: 100%; 
}


button {
    background-color: #333;
    color: #fff;
    padding: 10px 10px;  
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;  
    margin-left: 75%;  
    display: block;
}

.input-group a {
    margin-top: 10px;
    display: block;
}

.input-group p {
    text-align: center;  
    margin-top: 10px;    
}

h1 {
    margin: 0;
    font-size: 40px; 
}

.title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -80px; 
}

