/** GLOBAL */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/** FOOTER */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #DAFAFF;
    border-top: 1px black solid;;
}

.contenedor-footer {
    padding-top: 30px;
    padding-bottom: 40px;
}
.contenedor-footer ul a{
    color: #EF8CA1;
    text-decoration: none;
    margin-left: 3px;
}

.contenedor-footer ul p {
    margin-top: 8px;
}

.contenedor-footer .contenedor-redes-sociales {
    display: flex;
}

.boton-footer {
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
    width: 30%;
    padding: 5%;
    border-radius: 10%;
    transition-property: all;
    transition-duration: 300ms;
}

.boton-footer:hover {
    background-color: white;
    color: black;
    border: 1px black solid;
}

#instagram {
    margin-left: 5px;
}

/** HEADER*/
header {
    background-color: #DAFAFF;
    border-bottom: 1px black solid;
}

.barra-navegacion {
    display: flex;
    justify-content: space-around;
    align-items:center;
    font-family: poppins;
    color: rgb(108, 151, 151)
}

.logo-contenedor {
    display: flex;
    justify-content: center;
    width: 20%;
}

.logo-principal {
    width: 100px;
    height: 100px;
}

.nav-principal {
    display: flex;
    width: 50%;
    justify-content: space-around;
    text-transform: uppercase;
    border: solid 3px rgb(108, 151, 151) ;
    border-radius: 10px;
    background-color: rgb(177, 211, 211);
    padding: 10px;
}

.nav-principal a {
    color: rgb(44, 97, 97);
    font-weight: 500;
    text-decoration: none;
    font-size: large;
    margin-left: 3px;
    font-size: 18px;
}

.nav-principal p {
    transition-property: all;
    transition-duration: 500ms;
}

.nav-principal p:hover {
    font-size: 22px;
    color: rgb(44, 97, 97);
}

.nav-secundaria {
    display: flex;
    width: 20%;
    justify-content: end;
    text-transform: uppercase;
    color: white;
    /*justify-content: space-around;*/
}

.boton-secundaria {
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.boton-secundaria:hover {
    background-color: royalblue;
}

#boton-secundaria {
    margin-right: 10px;
}

/** DETAILS */

body {
    background-color: #E0F7FA;
}

.product-image {
    width: 50%
}

.detail-container {
    display: flex;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    padding-top: 3%;
}

.detail-info {
    display: flex;
    width: 50%;
    height: 100%;
}

#detail-info-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#detail-info-right {
    display: flex;
    flex-direction: column;
}

.detail-info-child {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.options {
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 25%;
}

/** RELATED */
.related-container {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
}

.related-title {
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}

.related-content {
    display: flex;
    width: 100%;
    justify-content: center;
}

.related-product {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.related-image {
    width: 30%;
}

/*.seccion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

.producto {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 100px; 
}

.imagen-producto img {
    max-width: 100%;
}

.imagen-producto {
    margin-right: 20px; 
}

.precio, .descuento {
    font-size: 30px;
    margin-top: 10px;
}

.descripcion-producto {
    border: 2px solid black;
    border-radius: 10px;
    padding: 150px;
    width: 300px;
    max-width: 20%;
  
}

.descripcion-producto h2 {
    margin-top: 0;    
    margin-bottom: 5px;  
}

.texto-descripcion {
    margin: 0;   
}

.opciones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 600px;
    font-size: 20px;
}

button:hover {
    background-color: darkblue;
}

.cantidad{
    font-size: 30px;
    margin-left: 1060px;
}

.titulo-relacionados {
    font-size: 30px;
    text-align: center;
    margin-top: 20px; 
}

.productos-relacionados {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px; 
}

.producto-relacionado {
    width: calc(33.33% - 20px); 
    box-sizing: border-box; 
    padding: 0 10px; 
    text-align: center;
}

.nombre-producto, .precio-producto {
    font-size: 30px;
    margin-top: 10px;
}

.cantidad input[type="number"] {
    font-size: 25px;      
    padding: 5px 10px;   
    width: 100px;          
    height: 30px;         
}*/
