/** GLOBAL */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  background-color:  #DDE6F8;
}

main {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color:rgb(177, 211, 211);
  border: solid rgb(108, 151, 151) 2px;
  border-radius: 20px;
}

h1 {
  background-color:rgb(177, 211, 211);
  border-bottom: solid rgb(108, 151, 151) 2px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: rgb(47, 78, 78);
}

/** FORMULARIO */

.form {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}

.form input {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;
  height: 50px;
  border-radius: 10px;
  border: ridge 1px;
  margin-top: 1%;
  padding-left: 2%;
}

.form input::placeholder{
  font-size: 14px;
  font-family: cursive;
  color: rgba(126, 158, 158, 0.884);
}

.text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form textarea {
  margin-top: 2%;
  padding: 2%;
}

.tipo {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.carga-imagen input{
  border: none;
  margin-top: 5%;
}

/** BOTONES */
.button-options {
  display: flex;
  justify-content: space-around;
  margin-top: 4%;
}

.button-options button{
  color: rgba(255, 255, 255, 0.884); 
  padding: 5px;
  background-color:rgb(82, 148, 148);
  border: 1px ;
  border-radius: 10px;
  font-size: large;
  width: 20%;
  display: flex;
  justify-content: center;
}

.button-options a {
  color: rgba(255, 255, 255, 0.884); 
  padding: 5px;
  background-color:rgb(82, 148, 148);
  border: 1px;
  border-radius: 10px;
  text-decoration: none;
  font-size: large;
  display: flex;
  justify-content: center;
  width: 20%;
  align-items: center;
}

.button-options button:hover{
  transform: scale(1.1); 
  background-color:rgb(44, 97, 97); 
  transition: transform 1s ease, background-color 0.5s ease;
  color: white;
}

.button-options a:hover {
  transform: scale(1.1); 
  background-color:rgb(44, 97, 97); 
  transition: transform 1s ease, background-color 0.5s ease;
  color: white;
}

.errorsBack {
  display: flex;
  justify-content: center;
  color: red;
}

.errorsFront {
  color: red;
}

#errorsFront {
  display: flex;
  justify-content: center;
}
  