<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/css/error-404.css">
</head>
    <body>
        <div class="content">
            <h1>UPS! La página que solicitaste no existe</h1>
            <a href="/"><button type="button">VOLVER</button></a>
        </div>
    </body>
</html>