<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
    <title>Inicio</title>
    <link rel="stylesheet" href="/css/index.css" />
    <body>
        <div class="titulo-principal">
            <h1>SAN RAFAEL</h1>
        </div>
        <%- include('./partials/header') %>
            <main>
                <section>
                    <article class="main-informacion">
                        <h2>¿Quiénes somos?</h2>
                        <p class="parrafo">Somos Pastelería y Panadería Artesanal San Rafael. Nuestra misión es simple
                            pero poderosa: Llevar hasta tu mesa el sabor auténtico, nos enorgullece amasar, hornear y
                            decorar cada producto con esmero, utilizando recetas que se han transmitido de generación en
                            generación.
                            <br>La satisfacción de nuestros clientes es nuestra razón de ser. Cada mañana, cuando
                            abrimos nuestras puertas, lo hacemos con el deseo de endulzar tu día y hacer que cada visita
                            sea especial.
                            Te invitamos a descubrir la magia de Pastelería y Panadería Artesanal San Rafael. Gracias
                            por ser parte de nuestra historia y permitirnos seguir endulzando momentos inolvidables.
                        </p>
                    </article>
                </section>
            </main>
            <%- include('./partials/footer') %>
    </body>
</html>