<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>
  <body>
    <div class="titulo-principal">
      <h1>SAN RAFAEL</h1>
    </div>
    <link rel="stylesheet" href="/css/index.css"/>
    <%- include('./partials/header') %>
    <main>
       <!--<div class="contenedor-carrusel">
        <img src="/images/ejemplo1.jpg" alt="producto" class="imagen-carrusel"/>
        <img src="/images/ejemplo2.jpg" alt="producto" class="imagen-carrusel"/>
        <img src="/images/ejemplo3.jpg" alt="producto" class="imagen-carrusel"/>
        <img src="/images/ejemplo4.jpg" alt="producto" class="imagen-carrusel"/>
      </div>-->
      <section>
        <article class="main-informacion">
          <h2 class="QuienesSomos">¿Quienes somos?</h2>
          <p class="parrafo">Somos Pastelería y Panadería Artesanal San Rafael. Nuestra misión es simple pero poderosa: llevar hasta tu mesa el sabor auténtico, nos enorgullece amasar, hornear y decorar cada producto con esmero, utilizando recetas que se han transmitido de generación en generación.
            <br>La satisfacción de nuestros clientes es nuestra razón de ser. Cada mañana, cuando abrimos nuestras puertas, lo hacemos con el deseo de endulzar tu día y hacer que cada visita sea especial.
             Te invitamos a descubrir la magia de Pastelería y Panadería Artesanal San Rafael. Gracias por ser parte de nuestra historia y permitirnos seguir endulzando momentos inolvidables</p>
        </article>
        <article class="main-imagenes">
            <!--<img src="/images/logo-sin-fondo.png" alt=""/>-->
        </article>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
