<!--PARTIAL DEL FOOTER-->
<footer>
    <div class="contenedor-footer">
        <h3>NAVEGACIÓN</h3>
        <ul>
            <p><a href="/">Inicio</a></p>
            <p><a href="/products/all">Productos</a></p>
            <p><a href="#">Contáctanos</a></p>
        </ul>
    </div>
    <div class="contenedor-footer">
        <h3>SAN RAFAEL</h3>
        <ul>
            <p><i class="fa-solid fa-location-dot"></i><a href="#">Calle 123 - Barrio</a></p>
            <p><i class="fa-solid fa-phone"></i><a href="#">388888888</a></p>
            <p><i class="fa-solid fa-envelope"></i><a href="#">ejemplo@gmail.com</a></p>
        </ul>
    </div>
    <div class="contenedor-footer">
        <h3>FORMAS DE PAGO</h3>
    </div>
    <div class="contenedor-footer">
        <h3>SEGUINOS</h3>
        <ul class="contenedor-redes-sociales">
            <button class="boton-footer"><i class="fa-brands fa-facebook"></i></button>
            <button class="boton-footer" id="instagram"><i class="fa-brands fa-instagram"></i></button>
        </ul>                                 
    </div>
</footer>