<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/register.css" />
    <title>Registro de Usuario</title>
    <body>
        <main>
            <h1>Registro de Usuario</h1>
            <form action="/user/register" method="POST" enctype="multipart/form-data" class="form">
                <label for="nombre"></label>
                <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
                <label for="apellido"></label>
                <input type="text" id="apellido" name="apellido" placeholder="Apellido" required>

                <label for="email"></label>
                <input type="email" id="email" name="email" placeholder="Correo Electrónico" required>

                <label for="domicilio"></label>
                <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio" required>

                <label for="password"></label>
                <input type="password" id="password" name="password" placeholder="Contraseña" required>

                <div class="carga-imagen">
                    <label for="imagen"></label>
                    <input type="file" name="image" id="image" required>
                </div>

                <div class="button-options">
                    <button type="submit" class="option">Crear cuenta</button>
                    <a href="/" class="button">Volver</button></a>
                </div>

                <small class="login-message">¿Ya tenés una cuenta? <a href="/user/logIn">Iniciar sesión</a></small>
            </form>
        </main>
    </body>
</html>